:root {
    --twilight-navy: #8d799a;
    --lavender-bg: #f4eff7;
    --tag-gray: #e0b8d6;
    --primary-text: #2a2a53;
    --box-bg: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #fce3e1 0%, #f8e8f2 50%, #d6c7e7 100%);
    color: var(--primary-text);
}

.sidebar {
    width: 240px;
    height: 100vh;
    background-color: var(--twilight-navy);
    color: white;
    border-radius: 1rem 0 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar .nav-link {
    color: white;
    font-size: 1rem;
    transition: 0.2s;
}

.sidebar .nav-link:hover {
    color: #d3bcb6;
    font-weight: 600;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.content-area {
    background: transparent;
}

.text-title {
    color: var(--primary-text);
}

.tag {
    background-color: var(--tag-gray);
    color: #222;
    font-weight: 500;
}

.book-description {
    font-size: 1rem;
    color: #444;
    max-width: 440px;
}

.price-box {
    background: var(--box-bg);
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    min-width: 120px;
    font-weight: 600;
}

.search-input {
    border: 2px solid var(--twilight-navy);
    border-radius: 999px;
    padding-left: 2.2rem;
    background-color: #fff;
}

.search-input::placeholder {
    color: #888;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--twilight-navy);
}

.nav-link {
    color: var(--primary-text);
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.book-cover-box {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
    padding: 1rem;
    box-shadow:  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    width: fit-content;
}

.book-cover {
    width: 270px;
    height: 350px;
    border-radius: 0.5rem;
    display: block;
}

/* Responsivo */
@media (max-width: 768px) {
    .price-box {
        padding: 0.8rem 1.5rem;
        min-width: 100px;
    }

    .book-description {
        font-size: 0.95rem;
    }
}
